body{
	margin: 0;
	padding: 0;
	background: rgba(165, 163, 163, 0.589);
}
.nav{
    background: linear-gradient(217deg, rgba(37, 37, 37, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(2, 207, 2, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0, 255, 255, 0.8), rgba(0,0,255,0) 70.71%);
    background-size: cover;
    height: 150px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav .nv li{
	position: relative;
	 left: 250px;
	 bottom: -60px;
	justify-content: center;
}
.nav li {
	display: inline;
	list-style: none;
}
.nav a {
	display: inline-block;
	margin: 0 30px;
    text-decoration: none;
    color: white;
}
.nav li a:hover{
   background: linear-gradient(336deg, rgba(0, 255, 255, 0.8), rgba(0,0,255,0) 70.71%);
}
.nav ul button a{
    color: white
}
img{
	width: 30vh;
	height: 30vh;
	position: relative;
	top: -30px;
	left: 100px;
}
.img2{
	width: 30vh;
	height: 30vh;
	position: relative;
	top: -30px;
	left: 470px;
}
  .menu {
    width: 140px;
    height: 140px;
    display: block;
    position: relative;
  }
  
  .list{
    height: 100%;
    top: 0;
    z-index: -1;
    display: flex;
    position: fixed;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease;
    background: rgba(255, 255, 255, 0.589);
    width: 280px;
    left: -180px;
  }
  .list li {
    width: 100px;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    list-style: none;
  }
  .list li a{
    text-decoration: none;
    color: #0d3627;
  }
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(90, 88, 88);
	margin: 1em 0;
	padding: 0;
}
.centered {
	margin-top: 10vh;
	text-align: center;
	justify-content: center;
  }
  
  .wrapper {
	width: 40%;
	margin: 0 auto;
	max-width: 100rem;
  }
  
  .cols {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  }
  
  .col {
	width: calc(25% - 2rem);
	margin: 1rem;
	cursor: pointer;
  }
  
  .container {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	perspective: 1000px;
  }
  
  .front,
  .back {
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
	  -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-align: center;
	min-height: 200px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
  }
  
  .back {
	background: #cedce7;
	background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
	background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
	background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  }
  
  .front:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	opacity: 0.6;
	background-color: #000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back {
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
	  -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  }
  
  .inner {
	-webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
	transform: translateY(-50%) translateZ(60px) scale(0.94);
	top: 50%;
	position: absolute;
	left: 0;
	width: 100%;
	padding: 2rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 1px solid transparent;
	-webkit-perspective: inherit;
	perspective: inherit;
	z-index: 2;
  }
  
  .container .back {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  
  .container .front {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  
  .container:hover .back {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  
  .container:hover .front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }
  
  .front .inner p {
	font-size: 2rem;
	margin-bottom: 2rem;
	position: relative;
  }
  
  .front .inner p:after {
	content: "";
	width: 4rem;
	height: 2px;
	position: absolute;
	background: #c6d4df;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -0.75rem;
  }
  
  .front .inner span {
	color: rgba(255, 255, 255, 0.7);
	font-family: "Montserrat";
	font-weight: 300;
  }
  
  @media screen and (max-width: 64rem) {
	.col {
	  width: calc(33.333333% - 2rem);
	}
  }
  
  @media screen and (max-width: 48rem) {
	.col {
	  width: calc(50% - 2rem);
	}
  }
  
  @media screen and (max-width: 32rem) {
	.col {
	  width: 100%;
	  margin: 0 0 2rem 0;
	}
  }

  .banner {
	position: relative;
	background: url(assets/img/banner.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
  }
  
  .box{
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	text-align: center;
	border-radius: 15px;
  }
  
  input{
	background: none;
	text-align: center;
	border: 2px solid pink;
	padding: 7px 5px;
	width: 250px;
	color: pink;
	border-radius: 10px;
  }
  
  .cardBox {
	height: 300px;
	position: relative;
	overflow: hidden;
	border-radius: 2%;
  }
  
  .card-footer {
	position: absolute;
	width: 80%;
	padding: 10px;
	bottom: -300px;
	left: 10%;
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.5s ease;
	color: white;
	text-align: center;
  }
  .cardBox:hover .card-footer {
	bottom: 20px;
  }
  
  .img-veille{
	width: 100% ;
  }
  
  .body-color{
	background: linear-gradient(#e66465, #9198e5);
  }
  
  
