body {
    font-family: "Roboto";
    font-weight: 400;
    overflow: hidden;
    background: linear-gradient(217deg, rgba(37, 37, 37, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(2, 207, 2, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0, 255, 255, 0.8), rgba(0,0,255,0) 70.71%);
    background-size: cover;
  }
  .image{
      width: 100px;
      height: 100px;
      justify-content: center;
  }
  .container {
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: relative;
  }
  
  .menu {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
  }
  
  .list, .intro {
    height: 100%;
    top: 0;
    z-index: -1;
    display: flex;
    position: fixed;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease;
  }
  
  .list {
    background: rgba(255, 255, 255, 0.589);
    width: 180px;
    left: -180px;
    opacity: 0;
    
  }
  .list li {
    width: 100px;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    list-style: none;
  }
  .list li a{
    text-decoration: none;
    color: #0d3627;
  }
  
  .intro {
    width: 100%;
    padding: 0 8px;
    left: 0;
    text-align: center;
  }
  
  .btne {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 20px;
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  .btne::before, .btne::after {
    background: rgb(5, 5, 5);
    width: 20px;
    height: 2px;
    left: 10px;
    display: block;
    position: absolute;
    transition: all 0.75s ease;
    content: "";
  }
  .btne::before {
    top: 16px;
  }
  .btne::after {
    bottom: 16px;
  }
  
  .menu:focus-within .list {
    left: 0;
    opacity: 1;
  }
  .menu:focus-within .intro {
    width: calc(100% - 120px);
    left: 120px;
  }
  .menu:focus-within .btne::before {
    transform: rotate(45deg) translate(2px, 2px);
  }
  .menu:focus-within .btne::after {
    transform: rotate(-45deg) translate(2px, -2px);
  }
  .background-login{
    background: url(../img/background-login.jpg);
    height: 50vw;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 5px #0d3627;
    position: fixed;
  }
  .card-log{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 255px;
    background: #11452da6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 90, 51);
    border: 2px solid #0d3627;
    color: white;
  }

 #top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
 }
 
  

  
